@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*font-family: 'Roboto', sans-serif;*/

:root {
  --font-heading: #41b634;
  --black: #222222;
  --bg: #43b634;
  --white: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to bottom, #81f681, #c2ffc2);	
  fallback for older browsers	
  background: -webkit-linear-gradient(top, #81f681, #c2ffc2);	
  background: -moz-linear-gradient(top, #81f681, #c2ffc2);	
  background: -o-linear-gradient(top, #81f681, #c2ffc2);	
  background-attachment: fixed; */
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
section {
  padding: 8rem 7%;
}
.header {
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: white;
}
nav .logo img {
  width: 50px;
  height: auto;
}
nav .links a {
  color: var(--black);
  font-size: 1.2rem;
  margin-right: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}
nav .links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: green;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s;
}
nav .links a:hover::after {
  width: 100%;
}
nav #menu-btn,
nav #close {
  color: var(--black);
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
}
#menu-btn {
  display: block;
}

#close {
  display: none;
}
.header .content {
  padding: 150px 7%;
  color: rgb(17, 146, 8);
}
.header .content h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 3rem 0;
}
.header .content h1 {
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 2px;
}
.btn {
  padding: 1.3rem 5rem;
  margin: 3rem 0;
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 500;
  border: 0.1rem solid var(--white);
  cursor: pointer;
}
.btn:hover {
  background: none;
  color: var(--white);
}

.nav-change {
  background: rgba(249, 241, 241, 0.5);
}

  .search-container {
    margin-top: 2rem;
    padding: 1rem 0 0.3rem;
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  
  #search-input {
    padding: 10px;
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  
  #search-input:focus {
    outline: none;
    border-color: #04AA6D;
  }
  
  button[type="submit"] {
    padding: 8px 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    border: 2px solid;
    background-color: #fff;
    color: black;
    cursor: pointer;
    border-color: #04AA6D;
    color: green;
  }
  
  button[type="submit"]:hover {
    background-color: #04AA6D;
    color: white;
  }

  h1 {
    margin: 0;
    color: #04AA6D;
  }
  
  form {
    margin-top: 20px;
  }
  
  #search-input {
    padding: 10px;
    width: 300px;
  }
  
  #recipe-results, #recommendations {
    margin-top: 30px;
    padding: 20px;
  }
  
  h2 {
    margin: 0 2rem 1rem;
    color: #04AA6D;
  }

  p {
    margin: 0.5rem;
    color: #04AA6D;
    font-weight: bold;
  }
  
  #recipe-list {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 2rem;
  }

  #recommendation-list {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 2rem;
  }

  .recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0rem 0rem 1.2rem;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    border-top-width: 2px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-style: solid;
    border-color: #98ffd9;
  }

  .recipe-card:hover {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0rem 0rem 1.2rem;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); */
    border-top-width: 2px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-style: solid;
    border-color: #04AA6D;
  }
  
  .recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-end-end-radius: 0px ;
    border-end-start-radius: 0px;
  }
  
  .recipe-card h3 {
    margin-top: 0;
    margin: 1rem 0;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .recipe-card a {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    /* background-color: #fff;
    color: #009200; */
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    border: 2px solid black;
    background-color: #fff;
    color: black;
    cursor: pointer;
    border-color: #04AA6D;
    color: green;
  }
  
  .recipe-card a:hover {
    background-color: #04AA6D;
    transition-delay: 0s;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  }

  .recommendation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #fff;
    background-color: #04AA6D;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .footer {
    width: 100%;
    height: auto;
    background: #eeeeee;
    font-family: "Nunito", sans-serif;
    font-weight: 6000;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
  }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2.5 0rem;
  }
  .footer .container .footer-box {
    padding: 0.5rem 4rem 2rem;
  }
  .footer .container .footer-box h3 {
    color: rgb(19, 12, 122);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    padding-bottom: 10px;
  }
  .footer .container .footer-box p {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 300;
    padding: 0.8rem 0;
    text-align: justify;
    color: black;
  }
  
  .footer .container .footer-box div a {
    margin: 0.5rem;
    color: var(--white);
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: black;
  }

  @media (max-width: 630px) {
    #recipe-list,  #recommendation-list {
      grid-template-columns: 1fr;
      margin: 0 5rem;
    }
  }
  
  @media (max-width: 768px) {
    #recipe-list,  #recommendation-list {
      grid-template-columns: 2fr;
      margin: 0 9rem;
    }

    #recipe-list {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
      margin: 0 4rem;
    }

  h2 {
    text-align: center;
  }
}

@media (max-width: 478px) {
  #recipe-list,  #recommendation-list {
    grid-template-columns: 2fr;
    margin: 0 9rem;
  }

  #recipe-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 10rem;
  }
}

@media only screen and (max-width: 991px) {

  html {
    font-size: 55%;
  }
  nav {
    padding: 1rem 3rem;
  }
  .content {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  nav #menu-btn {
    display: inline-block;
  }
  nav .links {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #eee;
    padding: 1rem;
    transition: 0.5s;
  }
  nav .links a::after {
    display: none;
  }
  nav .links a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    background: greenyellow;
  }
}

@media (min-width: 768px) {
  nav #menu-btn,
  nav #close {
    display: none;
  }
}
