@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*font-family: 'Roboto', sans-serif;*/

:root {
  --font-heading: #41b634;
  --black: #222222;
  --bg: #43b634;
  --white: #fff;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: white;
}
nav .logo img {
  width: 90px;
  height: auto;
}
nav .links a {
  color: var(--black);
  font-size: 1.2rem;
  margin-right: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}
nav .links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: green;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s;
}
nav .links a:hover::after {
  width: 100%;
}
nav #menu-btn,
nav #close {
  color: var(--black);
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
}
#menu-btn {
  display: block;
}
#close {
  display: none;
}
.header .content {
  padding: 150px 7%;
  color: rgb(17, 146, 8);
}
.header .content h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 3rem 0;
}
.header .content h1 {
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 2px;
}
.btn {
  padding: 1.3rem 5rem;
  margin: 3rem 0;
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 500;
  border: 0.1rem solid var(--white);
  cursor: pointer;
}
.btn:hover {
  background: none;
  color: var(--white);
}
.nav-change {
  background: rgba(249, 241, 241, 0.5);
}
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
  }
 /* Team member section */
 .team-section .row h1 {
  display: block;
  font-family: "mv boli";
  margin: 4em auto 0.5em;
  font-size: 3em;
  color: #1f003b;
  text-align: center;
}

.team-section .row h1 span {
  color: #6dfe6d;
  margin-left: 15px;
  font-family: "mv boli";
}
 .card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #1db412df;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 0.5em 0;
  letter-spacing: 2px;
}
.card .description {
  font-size: 14px;
  text-transform: capitalize;
  color: #241537;
  margin-bottom: 30px;
}

.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(#3fdf33, #60e57fd1);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
  
/*Footer*/

.footer {
  width: 100%;
  height: auto;
  background: #eeeeee;
  font-family: "Nunito", sans-serif;
  font-weight: 6000;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8rem;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 2.5 0rem;
}
.footer .container .footer-box {
  padding: 0.5rem 4rem 2rem;
}
.footer .container .footer-box h3 {
  color: rgb(19, 12, 122);
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding-bottom: 10px;
}
.footer .container .footer-box p {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 300;
  padding: 0.8rem 0;
  text-align: justify;
}

.footer .container .footer-box div a {
  margin: 0.5rem;
  color: var(--white);
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: black;
}

/*media query code*/
@media only screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  nav {
    padding: 1rem 3rem;
  }
  .content {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  nav #menu-btn {
    display: inline-block;
  }
  nav .links {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #eee;
    padding: 1rem;
    transition: 0.5s;
  }
  nav .links a::after {
    display: none;
  }
  nav .links a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    background: greenyellow;
  }
  .about .container {
    flex-direction: column;
  }
  .about .container .about-content {
    text-align: center;
  }
}

@media (min-width: 768px) {
  nav #menu-btn,
  nav #close {
    display: none;
  }
}